* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Segoe UI', sans-serif;
    background: #f9fafa;
    color: #222;
    padding-top: 120px; 
}


.header {
    width: 100%;
    padding: 40px 0;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 1000;
    border-bottom: 1px solid #eee;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-icon {
    height: 45px;
    margin-right: 15px;
}

.logo h2 {
    font-weight: 700;
    color: #222;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav ul li a {
    text-decoration: none;
    color: #666;
    font-size: 15px;
}

.nav ul li a:hover {
    color: black;
}

.Phone {
    font-size: 15px;
    color: #999;
}

.contact-section {
    width: 90%;
    max-width: 1300px;
    margin: 150px auto 100px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.left {
    width: 45%;
}

.left h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 30px;
}

.left p {
    color: #555;
    line-height: 1.7;
    margin-bottom: 20px;
}

.service-areas h4 {
    margin: 20px 0 10px;
    font-size: 18px;
}

.service-areas p {
    margin-bottom: 10px;
}

.right {
    width: 55%;
}

.row {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}

.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-size: 14px;
    margin-bottom: 8px;
}

input, textarea {
    padding: 12px 12px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    font-size: 15px;
    background: transparent;
}

textarea {
    height: 120px;
    resize: none;
}

.submit-btn {
    width: 100%;
    padding: 15px;
    border: none;
    background: #222;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}
