@font-face {
    font-family: 'Poppins';
    src: url(../Fonts/Poppins-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    padding: 50px 0;
    font-family: 'Poppins';
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 9999;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav ul li a {
    text-decoration: none;
    color: #666;
    font-size: 15px;
}

.Phone {
    font-size: 15px;
    color: #999;
}

#menu-toggle {
    display: none;
}

.burger {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.burger div {
    width: 30px;
    height: 3px;
    background-color: #222;
}

.logo {
  display: flex;
  align-items: center; 
  margin-left: 40px;
}

.logo-icon {
  height: 45px;
  margin-right: 20px;
}

.logo h2 {
  font-weight: 700;
  color: #222;
}

.services-hero {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 50px;
}

.services-hero h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 15px;
}

.services-hero p {
    color: #555;
    font-size: 20px;
}

.services-grid {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 60px;
    padding-bottom: 100px;
}

.service-card {
    text-decoration: none;
    text-align: center;
    color: inherit;
    display: block;
    cursor: pointer;
    transition: 0.2s ease;
}

.service-card:hover {
    transform: translateY(-3px);
}

.service-card img {
    width: 100%;
    height: auto;    
    object-fit: cover;
}

.service-card h3 {
    margin-top: 35px;
    font-size: 25px;
}

.service-card p {
    width: 80%;
    margin: 10px auto;
    color: #666;
    line-height: 1.5;
}


@media (max-width: 900px) {

    .burger {
        display: flex;
    }

    .nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: white;
        max-height: 0;
        overflow: hidden;
    }

    .nav ul {
        flex-direction: column;
        gap: 20px;
        padding: 30px 0;
    }

    #menu-toggle:checked ~ .nav {
        max-height: 500px;
    }

    .Phone {
        display: none;
    }
}
