* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  padding: 0 80px;
}

body {
    padding-top: 120px; 
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Header/Container */
.header {
  width: 100%;
  padding: 50px 0;
  font-family: 'Segoe UI', sans-serif;
  position: fixed;
  background-color: white;
  left: 0;
  top: 0;
  z-index: 9999;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logos არეა */
.logo {
  display: flex;
  align-items: center; 
  margin-left: 40px;
}

.logo-icon {
  height: 44px;
  margin-right: 20px;
}

.logo h2 {
 
  font-weight: 700;
  color: #222;
}

/* ნავიგაციები/Navigations */

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;            
  align-items: center;       
  gap: 30px;                 
}

.nav ul li .Phone {
  font-size: 15px;
  color: #999;
}


.nav ul li a {
  text-decoration: none;
  color: #666;
  font-size: 15px;

}

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background: #222;
}

#menu-toggle {
  display: none;
}


/* Hover */
.nav ul li a:hover {
  color: #000;
}


.Phone {
  font-size: 15px;
  color: #666;
}

.Hero{
  background-image: url("https://static.wixstatic.com/media/74f558_66357e0ecfea4c86b2ea0bce6e8a9447~mv2.jpg/v1/fill/w_1173,h_1029,fp_0.50_0.50,q_85,enc_avif,quality_auto/74f558_66357e0ecfea4c86b2ea0bce6e8a9447~mv2.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  padding: 250px 50px;

}

.Hero h1 {
  font-size: 72px;
  width: 900px;
  gap: 5px;
  color: whitesmoke;
  font-family: Arial, sans-serif;
  max-width: 900px;
  width: 100%;
 
}

.Hero-1{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  padding: 80px 0px;
}

.Img {
  max-width: 520px;
  width: 100%;
}

.Img img {
  width: 100%;
  max-width: 550px; 
  height: auto;

}

.Text{
  width: 600px;
  font-size: larger;
  gap: 15px;
}

.Text-h2{
  font-size: 42px;     
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  margin-top: 20px;
}

p{
  font-family: serif;
  margin-top: 20px;
  font-size: 20px;
}

.why-choose-us {
  text-align: center;
  padding: 70px 0;
}

.H2Us{
  font-size: 50px;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

.features {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-around;
  padding: 80px 80px 150px;
  font-size: 20px;
  line-height: 1.5em;
  text-align: center;

}

.feature {
  width: 20%;
}

.feature h3 {
  color: #b26a2a;
  display: flex;
  justify-content: space-around;
}

.features p{
  padding: 15px 0;
}

.services-section {
  
    width: 100%;
    background: white;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
}

.services-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 80px;
    color: #111;
}

.services-container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.service-card {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.service-card img {
    width: 100%;
    object-fit: cover;
    display: block; 
}

.service-label {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 26px;
    font-weight: 700;
    color: white;
    text-shadow: 0 0 8px rgba(0,0,0,0.7);
}


.ServiceCard {
  max-width: 350px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ServiceCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ServiceCard h4 {
  position: absolute;
  font-size: 22px;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  top: 50%;
  left: 50%;

} 

.testimonials {
  text-align: center;
  background: #fff; 
  padding-top: 150px;
}

.testimonials h2 {
  font-size: 48px;
  margin-bottom: 120px;
  margin-top: 80px;
}

.testimonial-konteineri {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
}

.testimonial {
  width: 300px;
  text-align: center;
}

.quote {
  font-size: 60px;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

.testimonial p {
  font-size: 16px;
  line-height: 1.7;
  color: #555;
  margin-bottom: 30px;
}

.testimonial h3 {
  font-size: 20px;
  font-weight: bold;
  color: #b46a2a; 
}

.Contact {
  width: 100%;
  padding: 100px 80px;
  background: #0f0f0f;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-top: 80px;
}

.contact-container {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}


.contact-left h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 25px;
}

.contact-left p {
    margin: 10px 0 20px;
    color: #bbbbbb;
    font-size: 16px;
}

.contact-left h4 {
    margin-top: 25px;
    font-size: 18px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.contact-form input {
    width: 100%;
    padding: 12px 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid #555;
    color: #eee;
    font-size: 15px;
    outline: none;
}

.contact-form textarea {
    width: 100%;
    padding: 12px 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid #555;
    color: #eee;
    font-size: 15px;
    outline: none;
    height: 120px;
}


.contact-form textarea {
    height: 120px;
}

.contact-form button {
    padding: 15px;
    background: white;
    border: none;
    font-size: 15px;
}

@media (max-width: 990px) {
  .wrapper {
    padding: 0 30px;
  }

  .Contact {
    padding: 80px 30px;
  }

  .Hero {
    padding: 200px 30px;
  }

  .Hero h1 {
    font-size: 50px;
    width: 100%;
  }

  .Hero-1 {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .Text {
    width: 100%;
  }

  .features {
    flex-direction: column;
    gap: 40px;
    padding: 40px 0;
  }

  .feature {
    width: 100%;
  }

  .Photos {
    flex-direction: column;
    padding: 40px 0;
  }

  .ServiceItem img {
    max-width: 500px;
  }

  
  .services-container {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  .service-card img {
    height: 350px;
  }

  .services-title {
    font-size: 32px;
    margin-bottom: 50px;
  }

  .testimonial-konteineri {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .contact-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .Contact {
    width: 100%;
    margin-left: 0;
    padding: 80px 30px;
  }

  .contact-left h2 {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  body {
    padding: 0 20px;
  }

  .header {
    padding: 20px 0;
  }

  .logo {
    margin-left: 0;
  }

  .burger {
    display: flex;
  }

  .nav ul {
    position: absolute;
    top: 90px;
    right: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    padding: 20px 0;
    gap: 20px;
    display: none;
    text-align: center;
  
  }

  #menu-toggle:checked ~ .nav ul {
    display: flex;
  }

  .Hero {
    padding: 140px 20px;
  }

  .Hero h1 {
    font-size: 36px;
  }

  .Text-h2 {
    font-size: 30px;
  }

  
  .services-container {
    flex-direction: column;
    gap: 30px;
  }

  .service-card img {
    height: 300px;
  }

  .service-label {
    font-size: 22px;
  }

  .services-title {
    font-size: 28px;
  }

  .H2Us,
  .h2Service h2 {
    font-size: 28px;
  }

  .testimonial-konteineri {
    padding: 0 20px;
  }

  .contact-left h2 {
    font-size: 30px;
  }

  .contact-form button {
    width: 100%;
  }
}

@media (max-width: 350px) {
  .wrapper {
    padding: 0 15px;
  }

  .Hero h1 {
    font-size: 26px;
  }

  .Text-h2 {
    font-size: 24px;
  }

  .contact-left h2 {
    font-size: 24px;
  }

    .service-card img {
    height: 250px;
  }

  .service-label {
    font-size: 18px;
  }

  .services-title {
    font-size: 24px;
  }

  .testimonial {
    width: 100%;
  }

  .form-row {
    grid-template-columns: 1fr;
  }

  .Photos {
    gap: 20px;
  }

  .ServiceItem img {
    width: 100%;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 14px;
  }
}