* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Segoe UI', sans-serif;
    background: #f9fafa;
    color: #222;
    padding-top: 120px; 
}


.header {
    width: 100%;
    padding: 40px 0;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 1000;
    border-bottom: 1px solid #eee;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-icon {
    height: 45px;
    margin-right: 15px;
}

.logo h2 {
    font-weight: 700;
    color: #222;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav ul li a {
    text-decoration: none;
    color: #666;
    font-size: 15px;
}

.nav ul li a:hover {
    color: black;
}

.Phone {
    font-size: 15px;
    color: #999;
}

#menu-toggle {
    display: none;
}

.burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger div {
    width: 30px;
    height: 3px;
    background: #333;
}


.work-section {
    text-align: center;
    margin-top: 75px;
    padding-bottom: 80px;
}

.work-section h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

.work-section p {
    color: #555;
    font-size: 15px;
    margin-bottom: 50px;
}


.work-grid {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}


.work-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
}


.work-grid img:hover {
    transform: scale(1.03);
    filter: brightness(0.95);
}

@media (max-width: 900px) {
    .work-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    .work-section h1 {
        font-size: 35px;
    }

    .container {
        display: flex;
        justify-content: space-between; 
        align-items: center;          
    }

    .burger {
        margin-left: auto;
    }
}

@media (max-width: 600px) {

    body {
        padding-top: 100px;
    }

    .nav ul {
        gap: 20px;
        flex-wrap: wrap;
    }

    .work-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .work-section h1 {
        font-size: 30px;
    }

    .work-section p {
        font-size: 15px;
    }
}



@media (max-width: 900px) {

    .burger {
        display: flex;
    }

    .nav ul {
        position: absolute;
        top: 90px;
        right: 0;
        width: 250px;        
        background: white;
        flex-direction: column;
        gap: 15px;
        padding: 20px 25px; 
        display: none;
        border-left: 1px solid #eee;
        text-align: left;    
        align-items: flex-start; 
    }

    #menu-toggle:checked ~ nav ul {
        display: flex;
    }
}
